*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
}

.hero{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #eff4fd;
    
}

nav{
    width: 84%;
    margin: auto;
    padding:20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

nav ul li{
    display: inline-block;
    list-style-type: none;
    margin-left: 10px 20px;
    
}

nav ul li a{
    color: black;
    font-weight: bold;
    padding: 10px 20px;
}

.hire{
    color:#9319f7;
}

.hire:hover{
    color: #09ff00bb;
    transform: scale(1.2);
    transition: transform 2s ease-in-out;
}

nav ul li a:hover{
    color: rgba(255, 0, 0, 0.452);
}

.details{
    margin-left: 8%;
    margin-top: 15%;
}

.details h1{
    font-size: 50px;
    color: black;
    margin-bottom: 20px;
}
   
span{
    font-weight: bold;
    color: #63d6f3;
}

.details p{
    font-size: 15px;
    line-height: 1.5;
    color: #a3a3a3;
}

.details a{
    text-decoration: none;
    background: #212121;
    padding: 10px 18px;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    margin: 30px 0px;
    border-radius: 10px;
}

.images{
    width: 45%;
    height: 80%;
    position:absolute;
    bottom: 0;
    right: 100px;
}

.images img{
    height: 100%;
    position: absolute;
    left: 50%;
    bottom:0;
    transform: translate(-50%);
    transition: bottom 1s, left 1s;
}

.images img.spidey{
    height:80%;
    bottom: 60px;
}

.images:hover .back{
    bottom: 40px;
}

.images:hover .spidey{
    left: 45%;
}